/* Styles for individual character page */

table {
    border-collapse: collapse;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    font-family: Verdana;
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
}
th {
    background-color: #D0EAFF;
    border-color: #000000;
    border-style: solid;
    border-width: 1px 1px 0 0;
    color: #6194BC;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: left;
    vertical-align: top;
}
td {
    background-color: #FFFFFF;
    border-color: #000000;
    border-style: solid;
    border-width: 1px 1px 0 0;
    color: #000000;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-top: 5px;
    vertical-align: top;
}
img {
    margin-left: auto;
    margin-right: auto;
}
.subindex td {
    background-color: #EFFBE3;
    padding: 5px;
}
.subindex table {
    width: 800px;
}
.subindex img {
    border-color: #D6EEBB;
}
.subindex ul {
    margin-bottom: 0;
    margin-top: 0;
}
.centered
{
    text-align:center;
}

#pokemontrainer table {
    border-collapse: collapse;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 2px;
    font-family: Verdana;
    font-size: 12pt;
    margin-left: auto;
    margin-right: auto;
}

#pokemontrainer td {
    background-color: #ECECEC;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px 1px 0 0;
    color: #000000;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: top;
}
.icon_nodata {
    filter: gray;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    outline: none;
}
/* SMASH 4 (these can be used for Ultimate if you used the Smash 4 colour which you probably did, super retard */
.ryu table th{background:#e04447;}
.ryu table th{color:#f2b4b5;}
.ryu table td{background:#fbecec;}
.ryu h1{color: #160607;}
.ryu h2{color: #160607;}
.ryu h3{color: #160607;}

.ike table th{background:#c44737;}
.ike table th{color:#e7b5af;}
.ike table td{background:#f9eceb;}
.ike h1{color: #270e0b;}
.ike h2{color: #270e0b;}
.ike h3{color: #270e0b;}

.bowser table th{background:#32765C;}
.bowser table th{color:#adc8bd;}
.bowser table td{background:#eaf1ee;}
.bowser h1{color: #050b09;}
.bowser h2{color: #050b09;}
.bowser h3{color: #050b09;}

.metaknight table th{background:#2D3D7A;}
.metaknight table th{color:#969ebc;}
.metaknight table td{background:#eaebf1;}
.metaknight h1{color: #04060c;}
.metaknight h2{color: #04060c;}
.metaknight h3{color: #04060c;}

.sonic table th{background:#579DF2;}
.sonic table th{color:#cce1fb;}
.sonic table td{background:#eef5fd;}
.sonic h1{color: #080f18;}
.sonic h2{color: #080f18;}
.sonic h3{color: #080f18;}

.zelda table th{background:#AA74BA;}
.zelda table th{color:#ddc7e3;}
.zelda table td{background:#f6f1f8;}
.zelda h1{color: #110b12;}
.zelda h2{color: #110b12;}
.zelda h3{color: #110b12;}

.olimar table th{background:#C3F1A9;}
.olimar table th{color:#4e6043;}
.olimar table td{background:#f9fdf6;}
.olimar h1{color: #131810;}
.olimar h2{color: #131810;}
.olimar h3{color: #131810;}

.zerosuit table th{background:#005AAA;}
.zerosuit table th{color:#7facd4;}
.zerosuit table td{background:#e5eef6;}
.zerosuit h1{color: #000911;}
.zerosuit h2{color: #000911;}
.zerosuit h3{color: #000911;}

.wario table th{background:#FECB4C;}
.wario table th{color:#65511e;}
.wario table td{background:#fef9ed;}
.wario h1{color: #191407;}
.wario h2{color: #191407;}
.wario h3{color: #191407;}

.gamewatch table th{background:#a6a390;}
.gamewatch table th{color:#21201c;}
.gamewatch table td{background:#f6f5f3;}
.gamewatch h1{color: #10100e;}
.gamewatch h2{color: #10100e;}
.gamewatch h3{color: #10100e;}

.diddy table th{background:#F24D49;}
.diddy table th{color:#f9b7b6;}
.diddy table td{background:#fdedec;}
.diddy h1{color: #180707;}
.diddy h2{color: #180707;}
.diddy h3{color: #180707;}

.link table th{background:#BED163;}
.link table th{color:#4c5327;}
.link table td{background:#f8faef;}
.link h1{color: #131409;}
.link h2{color: #131409;}
.link h3{color: #131409;}

.toonlink table th{background:#98d44b;}
.toonlink table th{color:#3c541e;}
.toonlink table td{background:#f4faed;}
.toonlink h1{color: #0f1507;}
.toonlink h2{color: #0f1507;}
.toonlink h3{color: #0f1507;}

.dk table th{background:#FEDA00;}
.dk table th{color:#4c4100;}
.dk table td{background:#f4faed;}
.dk h1{color: #191500;}
.dk h2{color: #191500;}
.dk h3{color: #191500;}

.wiifit table th{background:#86d776;}
.wiifit table th{color:#1a2b17;}
.wiifit table td{background:#f2fbf1;}
.wiifit h1{color: #0d150b;}
.wiifit h2{color: #0d150b;}
.wiifit h3{color: #0d150b;}

.dedede table th{background:#FFE966;}
.dedede table th{color:#665d28;}
.dedede table td{background:#fffcef;}
.dedede h1{color: #19170a;}
.dedede h2{color: #19170a;}
.dedede h3{color: #19170a;}

.rob table th{background:#B2B9BF;}
.rob table th{color:#353739;}
.rob table td{background:#f7f8f8;}
.rob h1{color: #111213;}
.rob h2{color: #111213;}
.rob h3{color: #111213;}

.purin table th{background:#F283EC;}
.purin table th{color:#fbd9f9}
.purin table td{background:#fdf2fd;}
.purin h1{color: #180d17;}
.purin h2{color: #180D17;}
.purin h3{color: #180D17;}

.lucario table th{background:#AEE4FF;}
.lucario table th{color:#688899;}
.lucario table td{background:#F6FCFF;}
.lucario h1{color: #111619;}
.lucario h2{color: #111619;}
.lucario h3{color: #111619;}

.lucas table th{background:#F05F1B;}
.lucas table th{color:#60260a;}
.lucas table td{background:#fdefe8;}
.lucas h1{color: #180902;}
.lucas h2{color: #180902;}
.lucas h3{color: #180902;}

.bowserjr table th{background:#CECD3A;}
.bowserjr table th{color:#65661E;}
.bowserjr table td{background:#F9FAEB;}
.bowserjr h1{color: #141406;}
.bowserjr h2{color: #141406;}
.bowserjr h3{color: #141406;}

.falcon table th{background:#9088E2;}
.falcon table th{color:#D2CFF3;}
.falcon table td{background:#F3F3FC;}
.falcon h1{color: #0E0D16;}
.falcon h2{color: #0E0D16;}
.falcon h3{color: #0E0D16;}

.lizardon table th{background:#F66624;}
.lizardon table th{color:#fcd1bd;}
.lizardon table td{background:#FEEFE9;}
.lizardon h1{color: #180A03;}
.lizardon h2{color: #180A03;}
.lizardon h3{color: #180A03;}

.darkpit table th{background:#AF6CE9;}
.darkpit table th{color:#4625BD;}
.darkpit table td{background:#F7F0FC;}
.darkpit h1{color: #110A17;}
.darkpit h2{color: #110A17;}
.darkpit h3{color: #110A17;}

.duckhunt table th{background:#935A33;}
.duckhunt table th{color:#C9AC99;}
.duckhunt table td{background:#F4EEEA;}
.duckhunt h1{color: #0E0905;}
.duckhunt h2{color: #0E0905;}
.duckhunt h3{color: #0E0905;}

.fox table th{background:#036AC9;}
.fox table th{color:#013564;}
.fox table td{background:#E5F0F9;}
.fox h1{color: #000A14;}
.fox h2{color: #000A14;}
.fox h3{color: #000A14;}

.ganondork table th{background:#7D7898;}
.ganondork table th{color:#e5e4ea;}
.ganondork table td{background:#F2F1F4;}
.ganondork h1{color: #0C0C0F;}
.ganondork h2{color: #0C0C0F;}
.ganondork h3{color: #0C0C0F;}

.frog table th{background:#5073A9;}
.frog table th{color:#202E43;}
.frog table td{background:#EDF1F6;}
.frog h1{color: #080B10;}
.frog h2{color: #080B10;}
.frog h3{color: #080B10;}

.rosaliniandganon table th{background:#89E0D5;}
.rosaliniandganon table th{color:#3e4847;}
.rosaliniandganon table td{background:#F3FBFA;}
.rosaliniandganon h1{color: #0D1615;}
.rosaliniandganon h2{color: #0D1615;}
.rosaliniandganon h3{color: #0D1615;}

.palutena table th{background:#74E8BF;}
.palutena table th{color:#224539;}
.palutena table td{background:#f1fcf8;}
.palutena h1{color: #0b1713;}
.palutena h2{color: #0b1713;}
.palutena h3{color: #0b1713;}

.lucina table th{background:#74A7CA;}
.lucina table th{color:#2e4250;}
.lucina table td{background:#f1f6f9;}
.lucina h1{color: #0b1014;}
.lucina h2{color: #0b1014;}
.lucina h3{color: #0b1014;}

.marth table th{background:#3EAACC;}
.marth table th{color:#184451;}
.marth table td{background:#ebf6f9;}
.marth h1{color: #061114;}
.marth h2{color: #061114;}
.marth h3{color: #061114;}

.mii table th{background:#5cc1e6;}
.mii table th{color:#244d5c;}
.mii table td{background:#eef8fc;}
.mii h1{color: #091317;}
.mii h2{color: #091317;}
.mii h3{color: #091317;}

.weegee table th{background:#41A732;}
.weegee table th{color:#b3dbad;}
.weegee table td{background:#ecf6ea;}
.weegee h1{color: #061005;}
.weegee h2{color: #061005;}
.weegee h3{color: #061005;}

.cancer table th{background:#68D154;}
.cancer table th{color:#1f3e19;}
.cancer table td{background:#effaed;}
.cancer h1{color: #0a1408;}
.cancer h2{color: #0a1408;}
.cancer h3{color: #0a1408;}

.falco table th{background:#52B2E4;}
.falco table th{color:#183544;}
.falco table td{background:#edf7fc;}
.falco h1{color: #081116;}
.falco h2{color: #081116;}
.falco h3{color: #081116;}

.megaman table th{background:#75C2E3;}
.megaman table th{color:#2e4d5a;}
.megaman table td{background:#f1f8fc;}
.megaman h1{color: #0b1316;}
.megaman h2{color: #0b1316;}
.megaman h3{color: #0b1316;}

.googers table th{background:#CFCE37;}
.googers table th{color:#525216;}
.googers table td{background:#fafaeb;}
.googers h1{color: #141405;}
.googers h2{color: #141405;}
.googers h3{color: #141405;}

.villager table th{background:#3BAC6C;}
.villager table th{color:#b0ddc4;}
.villager table td{background:#ebf6f0;}
.villager h1{color: #05110a;}
.villager h2{color: #05110a;}
.villager h3{color: #05110a;}

.kirby table th{background:#FBBEC3;}
.kirby table th{color:#644c4e;}
.kirby table td{background:#fef8f9;}
.kirby h1{color: #191313;}
.kirby h2{color: #191313;}
.kirby h3{color: #191313;}

.doctor table th{background:#F96269;}
.doctor table th{color:#63272a;}
.doctor table td{background:#feeff0;}
.doctor h1{color: #18090a;}
.doctor h2{color: #18090a;}
.doctor h3{color: #18090a;}

.dog table th{background:#945B33;}
.dog table th{color:#d4bdad;}
.dog table td{background:#f4eeea;}
.dog h1{color: #0e0905;}
.dog h2{color: #0e0905;}
.dog h3{color: #0e0905;}

.feelingit table th{background:#E55B79;}
.feelingit table th{color:#f7cdd6;}
.feelingit table td{background:#fceef1;}
.feelingit h1{color: #16090c;}
.feelingit h2{color: #16090c;}
.feelingit h3{color: #16090c;}

.sheik table th{background:#786CD7;}
.sheik table th{color:#d6d2f3;}
.sheik table td{background:#f1f0fb;}
.sheik h1{color: #0c0a15;}
.sheik h2{color: #0c0a15;}
.sheik h3{color: #0c0a15;}

.samus table th{background:#333f58;}
.samus table th{color:#adb2bc;}
.samus table td{background:#eaebee;}
.samus h1{color: #050608;}
.samus h2{color: #050608;}
.samus h3{color: #050608;}

.firemarth table th{background:#5CB94D;}
.firemarth table th{color:#244a1e;}
.firemarth table td{background:#eef8ed;}
.firemarth h1{color: #091207;}
.firemarth h2{color: #091207;}
.firemarth h3{color: #091207;}

.ebola table th{background:#F02C33;}
.ebola table th{color:#f9aaad;}
.ebola table td{background:#fde9ea;}
.ebola h1{color: #180405;}
.ebola h2{color: #180405;}
.ebola h3{color: #180405;}

.magicmarth table th{background:#ce82de;}
.magicmarth table th{color:#523458;}
.magicmarth table td{background:#faf2fb;}
.magicmarth h1{color: #140d16;}
.magicmarth h2{color: #140d16;}
.magicmarth h3{color: #140d16;}

.pit table th{background:#70b5d7;}
.pit table th{color:#2c4856;}
.pit table td{background:#f0f7fb;}
.pit h1{color: #0b1215;}
.pit h2{color: #0b1215;}
.pit h3{color: #0b1215;}

.mewtwo table th{background:#8054C3;}
.mewtwo table th{color:#d8cbed;}
.mewtwo table td{background:#f2edf9;}
.mewtwo h1{color: #0c0813;}
.mewtwo h2{color: #0c0813;}
.mewtwo h3{color: #0c0813;}

.annoyingyellowrat table th{background:#FFC000;}
.annoyingyellowrat table th{color:#664c00;}
.annoyingyellowrat table td{background:#fff8e5;}
.annoyingyellowrat h1{color: #191300;}
.annoyingyellowrat h2{color: #191300;}
.annoyingyellowrat h3{color: #191300;}

.pacman table th{background:#F9B038;}
.pacman table th{color:#634616;}
.pacman table td{background:#fef7eb;}
.pacman h1{color: #181105;}
.pacman h2{color: #181105;}
.pacman h3{color: #181105;}

.petch table th{background:#FEC6F3;}
.petch table th{color:#654f61;}
.petch table td{background:#fef9fd;}
.petch h1{color: #191318;}
.petch h2{color: #191318;}
.petch h3{color: #191318;}

.mario table th{background:#E03F44;}
.mario table th{color:#f2b2b4;}
.mario table td{background:#fbebec;}
.mario h1{color: #160606;}
.mario h2{color: #160606;}
.mario h3{color: #160606;}

.smallpenis table th{background:#39775A;}
.smallpenis table th{color:#c3d6cd;}
.smallpenis table td{background:#ebf1ee;}
.smallpenis h1{color: #050b09;}
.smallpenis h2{color: #050b09;}
.smallpenis h3{color: #050b09;}

.cloud table th{background:#009684;}
.cloud table th{color:#003c34;}
.cloud table td{background:#e5f4f2;}
.cloud h1{color: #000f0d;}
.cloud h2{color: #000f0d;}
.cloud h3{color: #000f0d;}

.bazza table th{background:#A79FE5;}
.bazza table th{color:#423f5b;}
.bazza table td{background:#f6f5fc;}
.bazza h1{color: #100f16;}
.bazza h2{color: #100f16;}
.bazza h3{color: #100f16;}

.corrin table th{background:#4ba9c3;}
.corrin table th{color:#1e434e;}
.corrin table td{background:#edf6f9;}
.corrin h1{color: #071013;}
.corrin h2{color: #071013;}
.corrin h3{color: #071013;}

/* rivals of aether */

.forsburn table th{background:#781d1d;}
.forsburn table th{color:#c9a4a4;}
.forsburn table td{background:#f1e8e8;}
.forsburn h1{color: #0c0202;}
.forsburn h2{color: #0c0202;}
.forsburn h3{color: #0c0202;}

.absa table th{background:#714B74;}
.absa table th{color:#d4c9d5;}
.absa table td{background:#f0edf1;}
.absa h1{color: #0b070b;}
.absa h2{color: #0b070b;}
.absa h3{color: #0b070b;}

.kragg table th{background:#264032;}
.kragg table th{color:#929f98;}
.kragg table td{background:#e9ebea;}
.kragg h1{color: #030605;}
.kragg h2{color: #030605;}
.kragg h3{color: #030605;}

.orcane table th{background:#2F3F8C;}
.orcane table th{color:#979fc5;}
.orcane table td{background:#eaebf3;}
.orcane h1{color: #04060e;}
.orcane h2{color: #04060e;}
.orcane h3{color: #04060e;}

.ori table th{background:#2D234F;}
.ori table th{color:#6a9199;}
.ori table td{background:#f7fdff;}
.ori h1{color: #04060e;}
.ori h2{color: #04060e;}
.ori h3{color: #04060e;}

/* DBFZ is dead */

.piccolo table th{background:#91CF23;}
.piccolo table th{color:#2b3e0a;}
.piccolo table td{background:#f4fae9;}
.piccolo h1{color: #0e1403;}
.piccolo h2{color: #0e1403;}
.piccolo h3{color: #0e1403;}

.tien table th{background:#627B89;}
.tien table th{color:#1d2429;}
.tien table td{background:#eff1f3;}
.tien h1{color: #090c0d;}
.tien h2{color: #090c0d;}
.tien h3{color: #090c0d;}

/* ULTIMATE */

.wolf table th{background:#9926ff;} /* official colour */
.wolf table th{color:#d6a8ff;} /* header text */
.wolf table td{background:#f4e9ff;} /* table background */
.wolf h1{color: #0f0319;}
.wolf h2{color: #0f0319;}
.wolf h3{color: #0f0319;}

.dku table th{background:#f9da4a;}
.dku table th{color:#95822c;}
.dku table td{background:#fefbec;}
.dku h1{color: #181507;}
.dku h2{color: #181507;}
.dku h3{color: #181507;}

.linku table th{background:#1c94c3;}
.linku table th{color:#105875;}
.linku table td{background:#e8f4f9;}
.linku h1{color: #020e13;}
.linku h2{color: #020e13;}
.linku h3{color: #020e13;}

.samusu table th{background:#353f56;}
.samusu table th{color:#858b99;}
.samusu table td{background:#eaebee;}
.samusu h1{color: #050608;}
.samusu h2{color: #050608;}
.samusu h3{color: #050608;}

.darksamus table th{background:#3d395e;}
.darksamus table th{color:#8a889e;}
.darksamus table td{background:#ebebee;}
.darksamus h1{color: #060509;}
.darksamus h2{color: #060509;}
.darksamus h3{color: #060509;}

.luigiu table th{background:#5ea444;}
.luigiu table th{color:#9ec88e;}
.luigiu table td{background:#eef5ec;}
.luigiu h1{color: #091006;}
.luigiu h2{color: #091006;}
.luigiu h3{color: #091006;}

.falconu table th{background:#8e8adc;}
.falconu table th{color:#555284;}
.falconu table td{background:#f3f3fb;}
.falconu h1{color: #0e0d16;}
.falconu h2{color: #0e0d16;}
.falconu h3{color: #0e0d16;}

.jiggsu table th{background:#f29bf6;}
.jiggsu table th{color:#915d93;}
.jiggsu table td{background:#fdf5fe;}
.jiggsu h1{color: #180f18;}
.jiggsu h2{color: #180f18;}
.jiggsu h3{color: #180f18;}

.peachu table th{background:#f5c9f0;}
.peachu table th{color:#937890;}
.peachu table td{background:#fef9fd;}
.peachu h1{color: #181418;}
.peachu h2{color: #181418;}
.peachu h3{color: #181418;}

.daisy table th{background:#f0bb2c;}
.daisy table th{color:#90701a;}
.daisy table td{background:#fdf8e9;}
.daisy h1{color: #181204;}
.daisy h2{color: #181204;}
.daisy h3{color: #181204;}

.iceclimbers table th{background:#a0cafe;}
.iceclimbers table th{color:#607998;}
.iceclimbers table td{background:#f5f9fe;}
.iceclimbers h1{color: #101419;}
.iceclimbers h2{color: #101419;}
.iceclimbers h3{color: #101419;}

.sheiku table th{background:#756fd0;}
.sheiku table th{color:#aca8e2;}
.sheiku table td{background:#f1f0fa;}
.sheiku h1{color: #0b0b14;}
.sheiku h2{color: #0b0b14;}
.sheiku h3{color: #0b0b14;}

.zeldau table th{background:#fdeaa4;}
.zeldau table th{color:#978c62;}
.zeldau table td{background:#fefcf5;}
.zeldau h1{color: #191710;}
.zeldau h2{color: #191710;}
.zeldau h3{color: #191710;}

.pichu table th{background:#dedc1f;}
.pichu table th{color:#858412;}
.pichu table td{background:#fbfbe8;}
.pichu h1{color: #161603;}
.pichu h2{color: #161603;}
.pichu h3{color: #161603;}

.younglink table th{background:#a5d160;}
.younglink table th{color:#637d39;}
.younglink table td{background:#f6faef;}
.younglink h1{color: #101409;}
.younglink h2{color: #101409;}
.younglink h3{color: #101409;}

.ganondorfu table th{background:#7974a4;}
.ganondorfu table th{color:#aeabc8;}
.ganondorfu table td{background:#f1f1f5;}
.ganondorfu h1{color: #0c0b10;}
.ganondorfu h2{color: #0c0b10;}
.ganondorfu h3{color: #0c0b10;}

.mewtwou table th{background:#927bc5;}
.mewtwou table th{color:#574976;}
.mewtwou table td{background:#f4f1f9;}
.mewtwou h1{color: #0e0c13;}
.mewtwou h2{color: #0e0c13;}
.mewtwou h3{color: #0e0c13;}

.chrom table th{background:#b4b4cf;}
.chrom table th{color:#6c6c7c;}
.chrom table td{background:#f7f7fa;}
.chrom h1{color: #121214;}
.chrom h2{color: #121214;}
.chrom h3{color: #121214;}

.gamewatchu table th{background:#;}
.gamewatchu table th{color:#;}
.gamewatchu table td{background:#;}
.gamewatchu h1{color: #;}
.gamewatchu h2{color: #;}
.gamewatchu h3{color: #;}

.metaknightu table th{background:#;}
.metaknightu table th{color:#;}
.metaknightu table td{background:#;}
.metaknightu h1{color: #;}
.metaknightu h2{color: #;}
.metaknightu h3{color: #;}

.pitu table th{background:#;}
.pitu table th{color:#;}
.pitu table td{background:#;}
.pitu h1{color: #;}
.pitu h2{color: #;}
.pitu h3{color: #;}

.snake table th{background:#658198;}
.snake table th{color:#3c4d5b;}
.snake table td{background:#eff2f4;}
.snake h1{color: #0a0c0f;}
.snake h2{color: #0a0c0f;}
.snake h3{color: #0a0c0f;}

.squirtle table th{background:#6890f0;}
.squirtle table th{color:#3e5690;}
.squirtle table td{background:#eff3fd;}
.squirtle h1{color: #0a0e18;}
.squirtle h2{color: #0a0e18;}
.squirtle h3{color: #0a0e18;}

.ivysaur table th{background:#;}
.ivysaur table th{color:#;}
.ivysaur table td{background:#;}
.ivysaur h1{color: #;}
.ivysaur h2{color: #;}
.ivysaur h3{color: #;}

.lucasu table th{background:#;}
.lucasu table th{color:#;}
.lucasu table td{background:#;}
.lucasu h1{color: #;}
.lucasu h2{color: #;}
.lucasu h3{color: #;}

.sonicu table th{background:#;}
.sonicu table th{color:#;}
.sonicu table td{background:#;}
.sonicu h1{color: #;}
.sonicu h2{color: #;}
.sonicu h3{color: #;}

.dededeu table th{background:#;}
.dededeu table th{color:#;}
.dededeu table td{background:#;}
.dededeu h1{color: #;}
.dededeu h2{color: #;}
.dededeu h3{color: #;}

.olimaru table th{background:#;}
.olimaru table th{color:#;}
.olimaru table td{background:#;}
.olimaru h1{color: #;}
.olimaru h2{color: #;}
.olimaru h3{color: #;}

.robu table th{background:#;}
.robu table th{color:#;}
.robu table td{background:#;}
.robu h1{color: #;}
.robu h2{color: #;}
.robu h3{color: #;}

.satan table th{background:#;}
.satan table th{color:#;}
.satan table td{background:#;}
.satan h1{color: #;}
.satan h2{color: #;}
.satan h3{color: #;}

.megamanu table th{background:#;}
.megamanu table th{color:#;}
.megamanu table td{background:#;}
.megamanu h1{color: #;}
.megamanu h2{color: #;}
.megamanu h3{color: #;}

.rosalinau table th{background:#;}
.rosalinau table th{color:#;}
.rosalinau table td{background:#;}
.rosalinau h1{color: #;}
.rosalinau h2{color: #;}
.rosalinau h3{color: #;}

.greninjau table th{background:#;}
.greninjau table th{color:#;}
.greninjau table td{background:#;}
.greninjau h1{color: #;}
.greninjau h2{color: #;}
.greninjau h3{color: #;}

.miibrawler table th{background:#;}
.miibrawler table th{color:#;}
.miibrawler table td{background:#;}
.miibrawler h1{color: #;}
.miibrawler h2{color: #;}
.miibrawler h3{color: #;}

.miigunner table th{background:#;}
.miigunner table th{color:#;}
.miigunner table td{background:#;}
.miigunner h1{color: #;}
.miigunner h2{color: #;}
.miigunner h3{color: #;}

.miisword table th{background:#;}
.miisword table th{color:#;}
.miisword table td{background:#;}
.miisword h1{color: #;}
.miisword h2{color: #;}
.miisword h3{color: #;}

.robinu table th{background:#;}
.robinu table th{color:#;}
.robinu table td{background:#;}
.robinu h1{color: #;}
.robinu h2{color: #;}
.robinu h3{color: #;}

.shulk table th{background:#;}
.shulk table th{color:#;}
.shulk table td{background:#;}
.shulk h1{color: #;}
.shulk h2{color: #;}
.shulk h3{color: #;}

.googeru table th{background:#;}
.googeru table th{color:#;}
.googeru table td{background:#;}
.googeru h1{color: #;}
.googeru h2{color: #;}
.googeru h3{color: #;}

.bayonetta table th{background:#;}
.bayonetta table th{color:#;}
.bayonetta table td{background:#;}
.bayonetta h1{color: #;}
.bayonetta h2{color: #;}
.bayonetta h3{color: #;}

.inkling table th{background:#f02d7d;}
.inkling table th{color:#f9abcb;}
.inkling table td{background:#fdeaf2;}
.inkling h1{color: #18040c;}
.inkling h2{color: #18040c;}
.inkling h3{color: #18040c;}

.ridley table th{background:#;}
.ridley table th{color:#;}
.ridley table td{background:#;}
.ridley h1{color: #;}
.ridley h2{color: #;}
.ridley h3{color: #;}

.simon table th{background:#76150e;}
.simon table th{color:#ac726e;}
.simon table td{background:#f1e7e6;}
.simon h1{color: #0b0201;}
.simon h2{color: #0b0201;}
.simon h3{color: #0b0201;}

.richter table th{background:#2a6db0;}
.richter table th{color:#7fa7cf;}
.richter table td{background:#e9f0f7;}
.richter h1{color: #040a11;}
.richter h2{color: #040a11;}
.richter h3{color: #040a11;}

.krool table th{background:#;}
.krool table th{color:#;}
.krool table td{background:#;}
.krool h1{color: #;}
.krool h2{color: #;}
.krool h3{color: #;}

.barafurrybait table th{background:#ffd902;}
.barafurrybait table th{color:#998201;}
.barafurrybait table td{background:#fffbe5;}
.barafurrybait h1{color: #191500;}
.barafurrybait h2{color: #191500;}
.barafurrybait h3{color: #191500;}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
